@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1.6rem;
  }
}

.mySwiper .swiper-pagination {
  position: relative;
  margin-top: 22px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
